*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: inline-table;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    text-align: center;
}
.card{
    width: 325px;
    background-color: #f9f7f7;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: 200px;
}
.card-content{
    padding: 16px;
}

button{
    background-color: black;
    color: white;
}
